#!/bin/bash

if [ $EUID != 0 ]; then
    exec sudo "$0" "$@"
    exit $?
fi

{{ if and (.install_packages) (eq .chezmoi.osRelease.id "fedora" "centos" "redhat" ) }}

dnf -y install python3-pip

{{ else if and (.install_packages) (eq .chezmoi.osRelease.id "debian" "ubuntu") }}

apt-get update
apt-get -y install python3-pip

{{ end }}
